<% layout('layout') -%>

<section class="py-5 header text-center text-dark mt-5">
    <div class="container py-5 text-dark">
        <header class="py-5 my-lg-5">
            <h1 class="display-4">NAEVUS. UN LUGAR DONDE COMPARTIR.</h1>
            <p class="font-italic mb-1">Comparte fácilmente al resto del mundo tu pasíon por el arte de los videojuegos. </p>
            <p class="font-italic">Visita nuestra página para conocer los mejores juegos indie o en early access que puedas encontrar. O únete a la comunidad y empieza a compartir tus proyectos con nosotros. Sigue leyendo para saber más.
            </p>
        </header>
    </div>
</section>

<hr>

<section class="py-5 d-flex align-items-center" id="one">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <h2 class="h1 mb-4">¿QUÉ ES NAEVUS?</h2>
                <p class="font-italic mb-4 text-muted">Naevus es una aplicación web pensada para pequeños desarrolladores o grupos de desarrolladores independientes que no tienen las herramientas necesarias para empezar a publicitar su proyecto. Desde aquí también pueden ponerse en contacto con sus jugadores desde las épocas más tempranas de desarrollo, incluso recibir comentarios, mensajes y avisos de su comunidad, pudiendo tener así una opinión muy cercana y saber que es lo que realmente su comunidad de jugadores necesita.</p>
                <br>
                <p class="font-italic mb-4 text-muted">Si te encantan los videojuegos indie... ¡Estás de suerte! Busca aquí tu videojuego favorito y recibe noticias de nuevas actualizaciones y mucho más. ¡Inlcuso puedes empezar a ayudar a sus desarrolladores dejándoles un mensaje!.</p>
                <a class="btn btn-outline-dark px-4 rounded-0 scroll-top" href="/projects">Visita los proyectos</a>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="py-5 d-flex align-items-center" id="two">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <h2 class="h1 mb-4">ÚNETE A LA COMUNIDAD</h2>
                <p class="font-italic mb-4 text-muted">¿Eres un desarrollador en apuros? ¿Tú solo o con tu equipo no tenéis la capacidad suficiente para hacer llegar vuestro trabajo a los demás? Acabas de dar en el clavo. Regístrate para poder empezar a compartir tu proyecto con el resto del mundo. Notifica a tu comunidad de jugadores de las nuevas actualizaciones que viene, los errores arreglados, e incluso recibe ayuda de ellos mismos. Muchas más cosas aguardan aquí dentro. ¿A qué esperas?</p>
                <a class="btn btn-outline-dark px-4 rounded-0 scroll-top" href="/singup">Regístarte para empezar</a>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="py-5 d-flex align-items-center" id="four">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <h2 class="h1 mb-4">¿No te ha quedado claro?</h2>
                <p class="font-italic mb-4 text-muted">Si encuentras algo un poco confuso, ¡no te preocupes! Visita las preguntas más frecuentes en nuestro FAQ.</p>
                <a class="btn btn-outline-dark px-4 rounded-0 scroll-top" href="/info">Preguntas frecuentes</a></p>
            </div>
        </div>
    </div>
</section>