<% layout('layout') -%>
<% script('js/adminprojects.js') -%>

<div class="row mt-5">
  <div class="col-lg-12">
    <div id="notification"></div>
    <h5 class="text-center text-dark display-4">Todos los proyectos <button type="button" id="btnReload" class="btn btn-primary" title="Recargar proyectos"><i class='fas fa-undo'></i></button></h5>
    <table class="table table-striped">
      <thead>
        <tr class="bg-primary text-light">
          <th>ID</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Tags</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="projects">
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="deleteProject">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Eliminar proyecto</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        Esta a punto de eliminar el proyecto, ¿está seguro que quiere hacerlo?
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Atrás</button>
        <form id="formDeleteProject">
          <input type="hidden" id="idProject" name="eliminarcuenta">
          <button type="submit" class="btn btn-outline-danger">Eliminar proyecto</button>
        </form>
      </div>
      
    </div>
  </div>
</div>