<% layout('layout') -%>

<section class="py-5 header text-center text-dark mt-5">
    <div class="container py-5 text-dark">
        <header class="py-5 my-lg-5">
            <img src="./images/error.jpg" style="max-width: 125px; max-height: 125px;">
            <h1 class="display-4">¡Oh no! Algo ha ido mal.</h1>
            <p class="pt-3">Algo no ha ido bien del todo. Puedes volver a la página principal desde <a class="text-dark" href="/"><u>aquí</u></a>. También puedes <a class="text-dark" href="/contact"><u>contactar</u></a> con el administrador del sitio si este problema persiste.
            </p>
        </header>
    </div>
</section>