<footer if="footer" class="footer py-3 bg-light">
    <div class="container text-center">
        <h1 class="display-4">Naevus 2020</h1>
        <div class="row mt-5 mb-3">
            <div class="col"><a href="/about">Información</a></div>
            <div class="col"><a href="/login">Inicio de sesión</a></div>
            <div class="col"><a href="/signup">Crear cuenta</a></div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col"><a href="/projects">Visita los proyectos</a></div>
            <div class="col"><a href="/contact">Contacto</a></div>
            <div class="col"><a href="/info">Preguntas frecuentes - FAQ</a></div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col"><a href="/legalinfo">Aviso legal</a></div>
            <div class="col"><a href="/license">Licencia</a></div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container text-center">
        This work is licensed under a <a rel="license" href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 License</a>.
    </div>
</footer>