<% layout('layout') -%>
<% script('js/index.js') -%>
<% stylesheet ('css/index.css') -%>

<div id="presentation" class="jumbotron jumbotron-fluid">
    <div class="container text-center text-dark"> 
        <h1 class="display-3">Descubre grandes aventuras</h1>
        <p class="lead pb-4">Ayudamos a que los pequeños desarrolladores tengan la visibilidad que se merecen.</p>
        <p><a href="/about" class="btn btn-outline-dark btn-lg" role="button">Más información</a></p>
    </div>
</div>

<section id="projects" class="container-fluid">
    <h2 class="display-4 text-center mt-5 mb-3">Últimos proyectos</h2>
    <hr>
</section>

<section id="contact"class="container-fluid text-center text-light py-4 mt-4">
    <h2 class="display-4 pb-4 my-4">¡Registrate para participar en la comunidad!</h2>
    <p class="lead pb-3">Podrás ayudar a construir muchos juegos o inluso llegar a publicar los tuyos.</p>
    <a href="/signup" class="btn btn-primary btn-lg mb-4" role="button">Registrate</a>
</section>

<!-- Here comes the rest of the code -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
