<% layout('layout') -%>
<% stylesheet ('css/info.css') -%>


<section class="py-5 d-flex align-items-center" id="four">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <h2 class="h1 mb-4">¿CÓMO PUBLICAR TU PRIMER PROYECTO?</h2>
                <p class="text-muted">Una vez que estás registrado en el sitio, en la pestaña "Perfil" debes editar tu cuenta y cambiar el tipo de cuenta a "Usuario desarrollador". Una vez hecho eso, tienes que volver a iniciar sesión para que se apliquen los cambios. Cuando hayas vuelto a entrar, podrás observar que tienes más opciones en tu Menú Personal. Seleciona "Crear Proyecto" y sigue las instrucciones.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5 d-flex align-items-center" id="four">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <h2 class="h1 mb-4">SOY MÁS DE UNO, ¿ CÓMO PUEDO AÑADIR MÁS USUARIOS A MI PROYECTO?</h2>
                <p class="text-muted">Desde tu Menú Personal, accede a la ventana de "Mis proyectos". Una vez dentro, debes pulsar en "Editar" el proyecto al que quieres añadir más usuarios. Una vez dentro, solo tienes que buscar la opción "Añadir nuevos desarrolladores" y rellenar el formulario.</p>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="py-5 header text-center text-dark mt-5">
    <div class="container py-5 text-dark">
        <header class="py-5 my-lg-5">
            <h1 class="display-4">¿Todavía tienes dudas?</h1>
            <p class="font-italic">Si aún no te ha quedado algo claro del todo, ¡no te preocupes! Puedes ponerte en contacto con nosotros y preguntarnos lo que quieras.
            </p>
            <a class="btn btn-outline-dark px-4 rounded-0 scroll-top" href="/contact">Contáctanos</a></p>
        </header>
    </div>
</section>