<% layout('layout') -%>
<div class="container border rounded bg-light mt-3 mb-3">
    <h1>Política de Privacidad</h1>
Esta Política de Privacidad se aplica cuando utilizas los servicios de Naevus, nuestras páginas web y cuando contactas con nosotros utilizando los medios que ponemos a tu disposición (teléfono, chat, correo electrónico y redes sociales), y a través de la misma, de conformidad con nuestro compromiso de transparencia, te informamos sobre los datos que recopilamos y para qué los utilizamos.
Naevus trata los datos de forma lícita, leal y transparente. Únicamente trata aquellos datos que son adecuados, pertinentes y limitados a lo necesario en relación con los fines determinados, explícitos y legítimos para los que los obtiene, y no los trata para fines incompatibles con aquellos.
Esta Política es permanentemente accesible a través del enlace habilitado en el sitio web, denominado “Protección de datos”, y puede actualizarse en cualquier momento, bien como consecuencia de un cambio normativo o bien por modificarse la configuración de los servicios o el tipo de negocio desarrollado. Las modificaciones que impliquen cambios en la prestación del servicio contratado, o requieran del consentimiento de los interesados, se comunicarán con una antelación de quince días naturales para que los interesados puedan manifestar su oposición al tratamiento de sus datos según el cambio descrito, o para que los clientes puedan adoptar las medidas que estimen oportunas en relación a la modificación comunicada. Si transcurrido el plazo proporcionado el usuario accede de nuevo a sus servicios o no comunica su oposición, se entenderán aceptadas las nuevas condiciones.


<h1>¿Quién es el Responsable del tratamiento?</h1>

Dirección postal: R/San Clemente s/n. 15705 - Santiago de Compostela.
Código Plus de Localización del IES San Clemente: 8CJH VFH3+C2
Teléfono: 881 867 501
Correo electrónico: a17lorenzotr@iessanclemente.net
Delegado de protección de datos: a17lorenzotr@iessanclemente.net


<h1>¿Con qué finalidad y legitimación tratamos los datos?</h1>
Para acceder y/o navegar por el sitio web de naevus.giize.com no es necesario aportar ningún dato. El carácter obligatorio de la respuesta a las preguntas que se plantean, o de los datos que se solicitan a través del sitio web, se indica mediante la incorporación de un asterisco (*) a continuación de la pregunta o campo del formulario. En caso de no proporcionarse los datos requeridos no será posible prestar el servicio o funcionalidad solicitados.
Naevus no trata datos de menores de edad en ningún caso, puesto que únicamente se permite el registro como usuario y la contratación de servicios a través del sitio web Naevus.com a personas mayores de edad con plena capacidad para actuar en el tráfico jurídico.
En Naevus tratamos la información registrada de conformidad con las siguientes finalidades:

<ul>
<li>Clientes: los datos proporcionados al registrarse como usuario, los recopilados por cualquiera de los medios o canales de contacto identificados en el sitio web (incluidos, los chats o las llamadas telefónicas), y los recogidos a través de los servicios de Naevus, se utilizan con la finalidad de gestionar la cuenta y servicios contratados por los usuarios, tanto a nivel técnico como a nivel contable, fiscal y administrativo, y/o para notificarles incidencias o cualquier información de interés sobre sus servicios. Con tal fin y en cumplimiento de la normativa fiscal y de protección de datos, se comprueban los datos de facturación facilitados por los usuarios, consultando el servicio de calidad de datos de la administración tributaria, y se rectifican aquellos datos que resultan ser inexactos. La base legitimadora del tratamiento es la prestación del servicio o ejecución del contrato.</li>
<li>Datos de tráfico y localización: Naevus conserva los datos generados en el marco de la prestación de los servicios de comunicaciones electrónicas, a disposición de las autoridades competentes, de conformidad con la Ley 25/2007, de 18 de octubre. Estos datos no se utilizan con fines de promoción comercial. La base legitimadora del tratamiento es el cumplimiento de una obligación legal.</li>
<li>Contacto: los datos recibidos por cualquiera de los medios y/o canales de contacto indicados en el sitio web, se utilizan con la finalidad de gestionar las solicitudes o incidencias comunicadas por los interesados. Las llamadas pueden ser grabadas con la finalidad de mejorar la calidad de los servicios y por motivos de seguridad para acreditar las instrucciones recibidas o la información proporcionada. La base legitimadora del tratamiento es el interés legítimo de Naevus en atender y gestionar las peticiones recibidas.</li>
<li>Blog: los datos proporcionados son tratados con la finalidad de gestionar los comentarios enviados. Al enviar un comentario, el interesado está autorizando la publicación de su nombre y, en su caso, el ‘avatar’ que utilice al dejar el comentario.</li>
<li>Notificaciones sobre protección de datos: los datos proporcionados se utilizan con la finalidad de gestionar los incidentes y notificaciones relacionados con la seguridad de conformidad con la normativa sobre protección de datos. La base legitimadora del tratamiento es el cumplimiento de una obligación legal y los datos se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recabaron y para determinar las posibles responsabilidades que se pudieran derivar de dicha finalidad y del tratamiento de los datos.</li>
</ul>
</div>