<% layout('layout') -%>
<% script('js/signup.js') -%>
<% stylesheet ('css/access.css') -%>

<form id="formRegistro" class="form-signin">
  <h1 class="h3 mb-3 text-center display-4">Crear nueva cuenta</h1>
  
  <label for="user" class="sr-only">Correo electrónico</label>
  <input type="text" id="user" name="user" class="form-control" placeholder="Nombre de usuario" required="">
  
  <label for="email" class="sr-only">Correo electrónico</label>
  <input type="email" id="email" name="email" class="form-control" placeholder="Correo electrónico" required="">
  
  <label for="password" class="sr-only">Contraseña</label>
  <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="">

  <label for="repeatPassword" class="sr-only">Repetir contraseña</label>
  <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" placeholder="Repetir contraseña" required="">  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
  <div class="col-sm-12 pt-3">
    <p>¿Ya estas registrado? <a href="/login">Iniciar sesión.</a></p>
  </div>

  <div id="notification"></div>
  
</form>