<% layout('layout') -%>
<% script('js/updates.js') -%>

<div class="container p-3 mt-3 mb-3 bg-light border rounded">
    <h1 class="display-4 text-center">Noticias y eventos</h1>
    <p class="font-weight-light">Descubre aquí las últimas novedades, noticias, actualizaciones, errores arreglados y más sobre este proyecto. Si tienes alguna opinión o duda que preguntar a los desarrolladores, puedes hacerlo desde los <a href="/feedbacks">comentarios de usuarios</a>.</p>
    <p class="font-weight-light"><a href="/projectview">Volver al proyecto</a>.</p>
</div>

<div id="updates" class="container-fluid"></div>
<div id="notification" class="container"></div>